@import "../../../../globalvariables.css";

.carousel {
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  padding-top: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -5px var(--primary-color);
  background-color: white;
  border: 3px solid var(--secondary-color);
}

.carouselHeading {
  margin: 0 auto;
  font-weight: bolder;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.carouselTrack {
  display: flex;
  transition: transform 2s ease-in-out;
}

.carouselTrack > div {
  min-width: 100%;
}
.carouselTrack > div:hover {
  cursor: pointer;
}

.carouselTrack img {
  min-width: 100%;
  display: block;
  aspect-ratio: 1/1.2;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
}

.carouselTrack p {
  padding: 10px;
  text-align: center;
}

.carousel button {
  all: unset;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.carousel button:nth-child(3) {
  right: 0;
  left: auto;
}

.carousel button:hover {
  background-color: rgba(85, 107, 47, 0.5);
}

.carousel button:hover > * {
  animation: squish 1s ease-in-out infinite;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

@media (min-width: 768px) {
  .carousel img,
  .carouselTrack > div {
    min-width: 50%;
  }
}
