.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 500px;
  height: 100dvh;
  border: 1px solid black;
  background-color: white;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

.blurOverlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: none;
  backdrop-filter: blur(3px);
}

.blurOverlay.show {
  display: block;
}

.cartContainer.show {
  transform: translate(0);
}
