@import "../../../globalvariables.css";

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  top: 140%;
  left: 0;
  box-shadow: 0 0 5px var(--primary-color);
  border-radius: 5px;
  font-size: 1.2rem;

  background-color: var(--background-color);
}
