@import "../../globalvariables.css";

header {
  width: 100%;
  background-color: var(--primary-color);
  height: 100px;
  display: flex;
  z-index: 1;
}

header h1,
header h2 {
  font-size: var(--font-size-header);
}

.divider {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header .divider:nth-child(2) {
  justify-content: center;
}
