@import "../../../globalvariables.css";

.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: 400px;
  border-left: 3px solid black;
  background-color: var(--background-color);
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.listContainer {
  flex: 1;
  overflow-y: scroll;
}

.checkoutBtn {
  margin-top: auto;
}

.blurOverlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: none;
  backdrop-filter: blur(3px);
}

.blurOverlay.show {
  display: block;
}

.cartContainer.show {
  transform: translate(0);
}

.cartBtn {
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(2px);
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

.cartBtn > span {
  position: absolute;
  bottom: 0;
  left: -15px;
  font-weight: bolder;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.cartBtn:hover {
  transform: scale(1.2);
}

.cartItemContainer {
  display: flex;
  padding: 20px;
  border-bottom: 2px solid gray;
  gap: 20px;
}

.cartItemContainer img {
  width: 100px;
  aspect-ratio: 4/5;
}

.cartItemContainer > div {
  display: flex;
  flex-direction: column;
}
