:root {
  --primary-color: #8fa64a;
  --secondary-color: #785638;
  --accent-color: #ddc682;
  --background-color: #eadfc5;
  --text-color: #28282b;

  --font-size-header: clamp(1.5rem, 1rem + 4vw, 5rem);
}
