.blur-overlay {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  display: none;
}

nav a.active {
  text-decoration: none;
  font-weight: bolder;
}
